h1 {
  text-align: center;
}
.container {
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  margin: auto;
  overflow: hidden;
}

.container > div {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  box-sizing: border-box;
}
